body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  flex-direction: column; /* Added this line to stack items vertically */
}

.gameRules {
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  width: 250px; /* Width of the rules section */
}